#<%= comment.post.postid_text %>/<%= comment.number %>: @<%= comment.user.username %> <%= if comment.parent_comment_user then " -> @#{comment.parent_comment_user.username}" else "" end%><%= if comment.parent_post_recommendation then " recommended the post" elsif comment.parent_comment_recommendation then " recommended" else "" end %><%=if comment.parent_comment_number > 0 then " /#{comment.parent_comment_number}" else "" end%>
<%= p_c = comment.post.comments.where(:number => comment.parent_comment_number).first
	if p_c
		"> #{p_c.comment_text.gsub(/\s+/, " ")[0..100]}#{p_c.comment_text.size > 100 ? "..." : ""}\n"
	else
		"> #{comment.post.post_content.gsub(/\s+/, " ")[0..100]}#{comment.post.post_content.size > 100 ? "..." : ""}\n"
	end
%>
<%= comment.comment_text %>


<%= site_url %>/p/<%= comment.post.postid_text %>#<%=comment.number%>
