@<%= recommendation.user.username %> recommended your comment #<%= recommendation.comment.cmtid_text %><% if recommendation.recommending_comment %>: <%= recommendation.recommending_comment.comment_text %> (#<%= recommendation.recommending_comment.cmtid_text %>) <% end %>