#<%= comment.post.postid_text %>/<%= comment.number %>: @<%= comment.user.username %> <%= if comment.parent_comment_user then " -> @#{comment.parent_comment_user.username}" else "" end%><%= if comment.parent_post_recommendation then " recommended the post" elsif comment.parent_comment_recommendation then " recommended" else "" end %><%=if comment.parent_comment_number > 0 then " /#{comment.parent_comment_number}" else "" end%>
<%= comment.comment_text %>


<%= site_url %>/p/<%= comment.post.postid_text %>#<%=comment.number%>