Recommended by @<%= recommendation.user.username %><%= if recommendation.recommending_comment then " ##{recommendation.recommending_comment.cmtid_text}: " + recommendation.recommending_comment.comment_text else "" end %>

#<%= recommendation.comment.post.postid_text %>/<%= recommendation.comment.number %>: @<%= recommendation.comment.user.username %> <%= if recommendation.comment.parent_comment_user then " -> @#{recommendation.comment.parent_comment.user.username}" else ""%><%=if recommendation.comment.parent_comment_number > 0 then " /#{recommendation.comment.parent_comment_number}" else "" end%>
<%= recommendation.comment.comment_text %>


<%= site_url %>/p/<%= recommendation.comment.post.postid_text %>#<%=recommendation.comment.number%>