<%= if post.private? then "P " else "" end %>#<%= post.postid_text %> @<%= post.user.username %><%= if not post.tags.empty? then "\n* " + post.tags.map{|v| v.tag_text}.join(", ") end %><% if post.target_user %> -> @<%=post.target_user.username%><% else %><% end %>

<%= post.post_content %>

<% unless post.sorted_recommendations[0].reject{|a| a[0].hidden_by? user}.empty? and post.sorted_recommendations[1].reject{|a| a.hidden_by? user}.empty? %>
Recommended by:
<%= post.sorted_recommendations[0].reject{|a,b| a.hidden_by? user}.map do |user, cmt| "@#{user.username} ##{cmt.cmtid_text}: #{cmt.comment_text}" end.join("\n") %>

<%= post.sorted_recommendations[1].reject{|a| a.hidden_by? user}.map do |user| "@#{user.username}" end.join(",") %>
<% end %>


<%= comments.size %> comment(s)
<%= site_url %>/p/<%= post.postid_text %>

<% comments.each do |comment| %>

#<%= comment.post.postid_text %>/<%= comment.number %>: @<%= comment.user.username %> <%= if comment.parent_comment_user then " -> @#{comment.parent_comment_user.username}" else "" end%><%= if comment.parent_post_recommendation then " recommended the post" elsif comment.parent_comment_recommendation then " recommended" else "" end %><%=if comment.parent_comment_number > 0 then " /#{comment.parent_comment_number}" else "" end%>
<%= comment.comment_text %>

<% unless comment.sorted_recommendations[0].reject{|a| a[0].hidden_by? user}.empty? and comment.sorted_recommendations[1].reject{|a| a.hidden_by? user}.empty? %>
Recommended by:
<%= comment.sorted_recommendations[0].reject{|a| a[0].hidden_by? user}.map do |user, cmt| "@#{user.username} ##{cmt.cmtid_text}: #{cmt.comment_text}" end.join("\n") %>
<%= unless comment.sorted_recommendations[0].empty? then "\n\n" else "" end %>
<%= comment.sorted_recommendations[1].reject{|a| a.hidden_by? user}.map do |user| "@#{user.username}" end.join(",") %>

<% end %>
<% end %>