<% posts.each do |post| %>
#<%= post.postid_text %> @<%= post.user.username %><%= if not post.tags.empty? then "\n* " + post.tags.map{|v| v.tag_text}.join(", ") end %><% if post.target_user %> -> @<%=post.target_user.username%><% else %><% end %>
<%= post.post_content %>


<%= post.comments.size %> comment(s)
<%= site_url %>/p/<%= post.postid_text %>


<% end %>