@<%= recommendation.user.username %> recommended your post #<%= recommendation.post.postid_text %><% if recommendation.recommending_comment %>: <%= recommendation.recommending_comment.comment_text %> (#<%= recommendation.recommending_comment.cmtid_text %>) <% end %>