Recommended by @<%= recommendation.user.username %><%= if recommendation.recommending_comment then " ##{recommendation.recommending_comment.cmtid_text}: " + recommendation.recommending_comment.comment_text else "" end %>

#<%= recommendation.post.postid_text %> @<%= recommendation.post.user.username %><%= if not recommendation.post.tags.empty? then "\n* " + recommendation.post.tags.map{|v| v.tag_text}.join(", ") end %>
<%= recommendation.post.post_content %>


<%= recommendation.post.comments.size %> comment(s)
<%= site_url %>/p/<%= recommendation.post.postid_text %>