<%= if post.private? then "P " else "" end %>#<%= post.postid_text %> @<%= post.user.username %><%= if not post.tags.empty? then "\n* " + post.tags.map{|v| v.tag_text}.join(", ") end %><% if post.target_user %> -> @<%=post.target_user.username%><% else %><% end %>

<%= post.post_content %>

<% unless post.post_recommendations.empty? %>
Recommended by:
<%= post.sorted_recommendations[0].map do |user, cmt| "@#{user.username} ##{cmt.cmtid_text}: #{cmt.comment_text}" end.join("\n") %>

<%= post.sorted_recommendations[1].map do |user| "@#{user.username}" end.join(",") %>
<% end %>

<%= post.comments.size %> comment(s)
<%= site_url %>/p/<%= post.postid_text %>