@<%=user.username%>
Name: <%=user.full_name%>
About: <%=user.description%>
Subscribed to: <%=user.subscribed_users.size%>, subscribers: <%=user.subscribers.size%>
URL: <%= site_url %>/u/<%=user.username%>